<!DOCTYPE html>
<html>

<head>
  <title>在线memo</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/index.js"></script>
</head>

<body>
  <div class="header">
    <div class="header-ct">
      <div class="header-title">
        <span>LinYa</span>
        <span>在线便签</span>
      </div>
      <div class="nav">
        <ul>
          <li>全部</li>
          <li>已完成</li>
          <li>排序</li>
        </ul>
      </div>
      <div class="login">
        <button id="login-github">使用Github登录</button>
        <button id="login-sign">用户登录</button>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="cell" id="cell1">
        <div class="node-header">
          <span class="node-date">2018年01月08日</span>
          <span class="node-time">下午 3时39分64秒</span>
          <span class="node-delete">X</span>
        </div>
        <div class="node-content">
          <textarea class="node-text" id="" cols="30" rows="10"></textarea>
          <ul class="node-start">
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
          </ul>
          <div class="node-staus node-staus-no">✔️</div>
          <div class="node-staus node-staus-finsh">已完成</div>
        </div>
      </div>
      <div class="cell" id="cell1">
        <div class="node-header">
          <span class="node-date">2018年11月08日</span>
          <span class="node-time">下午 3时39分64秒</span>
          <span class="node-delete">X</span>
        </div>
        <div class="node-content">
          <textarea class="node-text" id="" cols="30" rows="10"></textarea>
          <ul class="node-start">
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
          </ul>
          <div class="node-staus node-staus-no">✔️</div>
          <div class="node-staus node-staus-finsh">已完成</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</body>

</html>