.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  color: red;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(182, 108, 108, 0.708);
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:hover {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::afger {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
