//reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:hover {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::afger {
  box-sizing: border-box;
}
ul,li {
  list-style: none;
}
//